.fileTitle {
  color: #FFF;
  margin: 0;
  font-size: 25px;
  font-weight: 800;
}

.filterTitles {
  color: #FFF;
  text-align: center;
  font-size: 12px;
}

.fileData {
  color: #a3a3a3 ;
  font-size: 10px;
}

.likedButton:hover .fileDetails {
  display: inline-block;
}

.fileInfo {
  display: inline-block;
}

.likedButton:hover .fileInfo {
  display: none;
}

#file .fileSize {
  padding-right: 2%;
}

#files {
  width: 100%;
}

.fileButtons {
  text-align: right;
  -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
  margin: 0px 20px -30px 20px;
}

.likes {
  background: #FFF;
  color: #3CB371;
  border: 1px solid green;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  line-height: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 5%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.likedButton {
  background: #0d4e2a;
  color: #fff;
  border: 1px solid green;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  line-height: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 5%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.closeFile {
  background: #4285f4;
  color: #d6d6d6;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  min-width: 30px;
  height: 33px;
  border-radius: 5%;
  margin: 0 5px 0 40px;
  text-align: center;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
  float: right;
}

.deleteButton {
  background: #FFF;
  cursor: pointer;
  display: none;
  font-size: 19px;
  line-height: 30px;
  min-width: 30px;
  height: 33px;
  border-radius: 5%;
  margin: 0 5px 0 40px;
  text-align: center;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
  position: absolute;
  z-index: 1000;
  right: 95%;
  top: -30%;
}

.file:hover .deleteButton, .folders:hover .deleteFolderButton {
  display: block;
}

#commentInput {
  display: none;
  width: 60%;
  margin-top: 25px;
}

#commentInput input {
  width: 100%;
  height: 50px;
}

.comment {
  background: #FFF;
  color: black;
  border: 1px solid red;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 5%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.comment:hover {
  color: #FFF;
  background: #F65A5B;
  transition: background 500ms;
}

.download {
  background: #FFF;
  color: #fff;
  border: 1px solid red;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  line-height: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 5%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.download:hover {
  color: #F65A5B;
  background: #F65A5B;
  transition: background 500ms;
}

.closeFile:hover {
  color: #343434;
  background: rgba(68, 142, 255, 0.59);
  transition: background 500ms;
}

.deleteButton:hover {
  color: #343434;
  background: rgba(68, 142, 255, 0.59);
  transition: background 500ms;
}

.likes:hover {
  color: #FFF;
  background: #3CB371;
  transition: background 500ms;
}

.likes:active,
.download:active,
.closeFile:active,
.deleteButton:active {
  background: white;
  transition: background 500ms;
}

#file {
  display: none;
  position: relative;
  padding: 20px;
}

#file .fileButtons {
  margin-right: 30px;
  margin-bottom: 5px;
}

.fileButtons img {
  width: 22px;
  height: 22px;
}

*[id^='likeButton']{
  display: inline-block;
}

*[id^='likedButton']{
  display: none;
}

*[id^='fileDetails-']{
  border: 1px solid black;
  display: none;
  top: 5%;
  left: 25%;
  margin: 10px;
  padding: 15px;
  z-index: 1000;
  text-align: right;
  position: absolute;
}

*[id^='fileDetails-'] img {
  width: 15px;
  height: 15px;
}

*[id^='fileIcon-']{
  width: 12px;
  height: 12px;
  margin-left: 3px;
}

.file {
  padding: 25px;
  height: 150px;
  border: 2px solid #FFF;
}

.file:hover {
  border: 2px solid #4285f4;
}

.file, .folder, .filesButton, .homeButton, .fileTitle, #startBand, #startSignIn {
  cursor: pointer;
  cursor: hand;
}

.file:hover {

}

.folder:hover, .homeButton:hover, .filesButton:hover {
  background-color: #265a88;
  transition: background 500ms;
}

.filesButton {
  color: #FFF;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.filesButton h3 {
  font-size: 20px;
}

.fileFilter {
  padding: 10px;
  border: 1px solid #FFF;
}

.filters {
  padding: 4px;
}

.fileNavigation {
  text-align: center;
  max-width: 75%;
  padding: 10px;
  color: #FFF;
}

.fileNavigation button {
  color: #000;
  font-size: 11px;
}



#folderDetailsButton {
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
}

#folderDetails {
  display: none;
}

#upload {
  padding: 20px;
  background: #FFF;
}


.animate-enter {
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: block;
    position: relative;
}
@-webkit-keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    75% {
    	left: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
@keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    75% {
    	left: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}

.animate-leave {
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: block;
    position: relative;
}
@-webkit-keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    25% {
    	left: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
@keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    25% {
    	left: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
