.fileTitle {
  color: #444;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.filterTitles {
  color: #FFF;
  text-align: center;
  font-size: 12px;
}

#folderName {
  color: #FFF;
  text-align: center;
  border: 1px solid white;
  padding: 20px;
  margin-top: 10px;
}

.fileData {
  color: #777777;
  font-size: 10px;
  margin-left: 5px;
}

.fileComments {
  color: #000000;
  font-size: 12px;
  padding: 0;
  background: #ffffff9e;
  border-radius: 4px;
}

#file .fileData {
  margin-top: 15px;
  margin-left: 15px;
}


.fileInfo {
  display: inline-block;
  right: 5px;
}


#file .fileSize {
  padding-right: 2%;
}

#files {
  width: 100%;
}

#showCommentsButton, #showHighlightsButton {
  cursor: pointer;
  cursor: hand;
  text-align: center;
  display: block;
}

#hideCommentsButton, #hideHighlightsButton {
  cursor: pointer;
  cursor: hand;
  text-align: center;
  display: none;
}

.highlightUserName {
  color: #F65A5B;
  font-size: 12px;
}

#markHighlightButton {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 4px;
}

.commentUserName {
  color: #2c6344;
  font-size: 12px;
}

.commentText {
  color: #444;
}

.commentTime {
  font-size: 9px;
  text-align: right;
}

.playListFile img{
  height: 15px;
  width: 15px;
}

.fileData img {
  height: 15px;
  width: 15px;
}

#fileList .playListFile {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 0;
}

.playListFile {
  background: rgba(255, 255, 255, .9);
  transition: box-shadow .2s ease-in;
  border-radius: 5px;
}

.playListFile:hover {
  border-color: #3CB371;
  box-shadow: 0 2px 10px rgba(0,0,0,.5)
}

.playListFileDetails {
  height: 0;
  width: auto;
  font-size: 0;
  padding: 0;
  font-size: 0;
  transition: all 0.2s ease-in-out;
}

.playListFileSelected {
  border: 1px solid #2e6da4;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,.5);
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.playListFileInfo {
  text-align: center;
  margin-top: 10px;
  font-size: 11px;
  padding: 0;
}

.fileButtons {
  text-align: right;
  -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
}

.ideaButtonText {
  font-size: 9px;
}

.ideaButton {
  display: inline-block;
  font-size: 14px;
  min-width: 65px;
  height: 35px;
  padding-top: 0px;
}

#ideaInfoButton , #closeInfoButton {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1000;
  font-size: 16px;
}

.likedButton {
  background: #0d4e2a;
  color: #fff;
  border: 1px solid #eeeeee;
}

.closeFile {
  background: #4285f4;
  color: #d6d6d6;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  min-width: 30px;
  height: 33px;
  border-radius: 5%;
  margin: 0 15px 0 40px;
  text-align: center;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
  float: right;
}

.otherFileButton {
  background: #4285f4;
  color: #d6d6d6;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  border-radius: 5%;
  margin: 0 5px 0 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
  padding: 0 5px;
}

.otherFileButtons {
  text-align: center;
}

.deleteButton {
  background: #FFF;
  cursor: pointer;
  display: none;
  font-size: 19px;
  line-height: 30px;
  min-width: 30px;
  height: 33px;
  border-radius: 5%;
  margin: 0 5px 0 40px;
  text-align: center;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
  position: absolute;
  z-index: 1000;
  right: 95%;
  top: -30%;
}

.file:hover .deleteButton, .folders:hover .deleteFolderButton {
  display: block;
}

#fileList {
  margin-top: 15px;
  padding: 0;
}

.commentMetaData {
  text-align: right;
}

#comments {
  max-height: 400px;
}

#addCommentButton {
  float: left;
  margin-top: 2px;
  margin-left: 15px;
  width: 34px;
  display: none;
}

#highlights {
  display: none;
}

.userComment {
  margin-top: 20px;
  padding: 0;
  border-bottom: 1px solid #CCC;
}

.userComment p {
  top: -6px;
}

.commentButton {
  margin-top: 10px;
  font-size: 12px;
}


#commentText, #highlightText {
  width: 100%;
  font-size: 12px;
}

#commentInput input, #highlightInput input {

}

#highlightInput, #commentInput {
  margin-bottom: 10px;
  width: 65%;
  float: left;
  margin-right: -10px;
}

.comment {
  background: #FFF;
  border: 1px solid green;


}

.comment:hover {
  color: #FFF;
  background: #3CB371;
  transition: background 500ms;
}

.comment:hover img {
  filter: invert(100%);
}

#commentContainer {
  max-height: 492px;
}

.commentHeader {
  top: -6px;
  border-bottom: 1px solid #444;
}

#commentContainer .ideaButton {
}

.highlight {
  background: #FFF;
  border: 1px solid red;
  min-width: 35px;
  height: 30px;
  float: right;
  margin-right: -10px;
  margin-top: 2px;
}

.highlight:hover {
  color: #FFF;
  background: #F65A5B;

  transition: background 500ms;
}

.highlight:hover img {
  filter: invert(100%);
}

.highlightPlayButton {
  background: #FFF;
  border: 1px solid red;
  right: 5px;
  top: 15px !important;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  min-width: 50px;
  height: 23px;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.highlightPlayButton:hover {
  color: #FFF;
  background: #F65A5B;
  transition: background 500ms;
}

.download {
  background: #FFF;
  border: 1px solid #265a88;
}

.download:hover {
  color: #FFF;
  background: #265a88;
  transition: background 500ms;
}

.download:hover img {
  filter: invert(100%);
}

.closeFile:hover {
  color: #343434;
  background: rgba(68, 142, 255, 0.59);
  transition: background 500ms;
}

.deleteButton:hover {
  color: #343434;
  background: rgba(68, 142, 255, 0.59);
  transition: background 500ms;
}

.likes:hover {
  color: #FFF;
  background: #3CB371;
  transition: background 500ms;
}

.likes:active,
.download:active,
.closeFile:active,
.deleteButton:active {
  background: white;
  transition: background 500ms;
}

#file {
  position: relative;
}

#filesFilter {
  display: none;
}

.fileButtons {
  position: absolute;
  z-index: 1000;
  width: 8%;
  right: 50px;
  top: 25px;
}

#file .ideaButtons {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;

}

.fileButtons img, .ideaButtons img {
  width: 15px;
  height: 15px;
}

.highlightPlayButton img {
  width: 10px;
  height: 10px;
}



#openFileDetails {
  float: right;
  display: none;
  margin-right: 30px;
  position: absolute;
  z-index: 1000;
  top: 15%;
  right: 15%;
  border: 1px solid black;
  border-radius: 5px;
  background: #FFF;
  padding: 10px;
}

.fileData img {
  width: 16px;
  height: 16px;
}

*[id^='likeButton']{
  display: inline-block;
}

*[id^='likedButton']{
  display: none;
}

*[id^='fileDetails-']{
  border: 1px solid black;
  display: none;
  top: 5%;
  left: 25%;
  margin: 10px;
  padding: 15px;
  z-index: 1000;
  text-align: right;
  position: absolute;
}

*[id^='fileDetails-'] img {
  width: 15px;
  height: 15px;
}

*[id^='fileIcon-']{
  width: 12px;
  height: 12px;
  margin-left: 3px;
}

.file {
  padding: 15px;
  height: 120px;
  border: 2px solid #FFF;
}

.file:hover {
  border: 2px solid #4285f4;
}

.file, .folder, .filesButton, .homeButton, #startBand, #startSignIn, .playListFile {
  cursor: pointer;
  cursor: hand;
}

.file:hover {

}

.filesButton:hover {
  background-color: #265a88;
  transition: background 500ms;
}

.filesButton {
  color: #FFF;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.filesButton h3 {
  font-size: 20px;
}

.fileFilter {
  padding: 10px;
  border: 1px solid #FFF;
}

.filters {
  padding: 4px;
}

.fileNavigation {

}


.fileNavigation p {
  padding: 10px;
  border: 1px solid white;
  font-size: 12px;
}

#folderDetails {
  display: none;
}

#upload {
  padding: 20px;
  background: #FFF;
}

.likeDetailsOpen {
  min-width: 100px !important;
  background-color: #fdfdfd;
  font-size: 12px !important;
  padding: 5px !important;

  display: block !important;
  transition: all .3s ease-in-out;
}

.likeDetails {
  min-width: 100px !important;
  font-size: 0px;
  padding: 0;
  margin: 0 auto;
  display: none;
  transition: all .3s ease-in-out;
}

.wavesurferButton {
  position: absolute;
  top: 15px;
}

.fileDetailsButton {
  position: absolute;
  left: 90%;
  padding: 20px;
  top: -22px;
  color: white;
  z-index: 1000;
}

#fileScroller, .scroller {
  max-height: 700px;
  overflow-y: scroll;
  padding-bottom: 20px;
  box-shadow: 1px 1px 5px #555 inset;
  padding-top: 10px;
}

.animate-enter {
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: block;
    position: relative;
}
@-webkit-keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    75% {
    	left: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
@keyframes enter {
	from {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    75% {
    	left: 15px;
    }
    to {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}

.animate-leave {
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
	display: block;
    position: relative;
}
@-webkit-keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    25% {
    	left: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
@keyframes leave {
	to {
	    opacity: 0;
    	height: 0px;
    	left: -70px;
    }
    25% {
    	left: 15px;
    }
    from {
        opacity: 1;
    	height: 30px;
    	left: 0px;
    }
}
