#signInButton {
  margin-top: 8px;
}

#chooseUser, #joinBand {
  display: none;
}

#signUpForm, #startSignIn {
  display: none;
}

#startSignIn:hover, #startBand:hover {
  background: #000000ab !important;
  transition: all 0.3s ease-in-out;
}

#signInMessage2 {
  display: none;
}

#loginBrand {
  position: absolute;
  left: 0%;
  top: -70px;
  padding-left: 15px;
  right: 9%;
  margin: 0 auto;
  height: auto;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
}

#loginButton {
  cursor: pointer;
  cursor: hand;
  border: 0px;
  position: relative;
  padding: 50px;
  border-radius: 0;
  margin-bottom: 50px;
  text-align: center;
  display: block;
}

#login-brand {
  width: 100%;
  padding: 10px;

  border-radius: 5px;
  background: #00000069 !important;
}

.loginForm {
  position: relative;
  font-size: 14px;
  background-color: #0000004a !important;

}

.loginForm h3 {
  color: #FFF;
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.loginForm input {
  width: 100%;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px !important;
  border-radius: 2px;
}

#authentication {
  position: absolute;
  left: 9%;
  right: 9%;
  margin: 0 auto;
  min-width: 300px;
  max-width: 400px;
  width: 80%;
  display: none;
}

#userMessage {
  background: white;
  height: 0px;
  transition: all 0.5s ease-in-out;
  font-size: 0px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  width: 90%;
  left: 5%;
  position: relative;

}

#userMessage p {
  margin-top: 5px;
}

#closeUserMessage {
  float: right;
  padding-right: 8px;
  padding-top: 8px;
  cursor: pointer;
}
