#addArrangementBlock {
  padding: 20px 20px 10px 20px;
}

.editArrangementBlock {
  padding: 20px;
  border: 1px solid white;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#songLyricText, #songLyricsInputContainer {
  padding: 35px;
  white-space: pre-wrap;
  padding-top: 10px;
}
