<!-- Idea Details Modal -->
<div id="ideaDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                <p><strong>Name:</strong> {{ file.name }}</p>
                <p class="backToButton" ng-click="goBackToBandPage()"><strong>Band Name: </strong>{{ band.name }}</p>
                <p class="backToButton" ng-click="goBackToFolderPage()"><strong>Folder Name: </strong>{{ folder.name }}</p>
                <hr>
                <p><strong>Views: </strong>{{ file.views }}</p>
                <p><strong>Size: </strong>{{ file.size }}</p>
                <p><strong>Comments: </strong>{{ file.comments.length }}</p>
                <p><strong>Highlights: </strong>{{ file.highlights.length }}</p>
                <hr>
                <div ng-if="file.userLikes.length > 0">
                    <strong>Liked By:</strong>
                    <div ng-repeat="like in file.userLikes">
                        {{ like.name }}
                    </div>
                </div>
                <div ng-if="file.userLikes.length === 0">
                    <strong>No Favorites</strong>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- End of Idea Details Modal -->
