<!-- Member Modal -->
<div id="memberModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Band Members</h4>
      </div>
      <div class="modal-body">
        <div id="{{ 'member-' + $index }}" ng-animate="'animate'" ng-repeat="member in members" class="memberButton">

          <div>
            <p class="folderTitle">{{ member.name }}</p>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Member Modal -->

