
<div id="folderView" style="display: none">
  <!-- Files Section - Displayed when a folder is opened -->
  <div id="fileSection">
    <!-- Start of File buttons and Details -->
    <div class="filePage" class="col-xs-12">
      <!-- Go Back, Details, and Upload Buttons
      <div class="btn-group-justified">
        <div id="previousFolder" class="btn btn-primary" ng-click="openPreviousFolder()">Go Back</div>
        <div id="uploadFiles" class="btn btn-success" data-toggle="modal" data-target="#uploadFileModal">Upload</div>
        <div id="folderDetailsButton" class="btn btn-primary" ng-click="showFolderDetails()">Details</div>
      </div>
      -->
      <!-- End of Buttons -->


    </div>
    <!-- End of Buttons and Details -->
    <!-- Band Name | Folder Name
    <div class="containers">

      <span class="backToButton" ng-click="goBackToBandPage()">{{ band.name }}</span> | <span class="backToButton" ng-click="goBackToFolderPage()">{{ folder.name }}</span></div>
    -->
    <!-- File Filter: Sorted By, Number of Files on Page -->
    <div class="col-xs-12">
      <!--<i class="glyphicon glyphicon-search" style="position: absolute; top: 22px; left: 3%; font-size: 18px; cursor: pointer" ng-click="showFilters()"></i>-->
      <h4 style="color: white; padding: 0; margin-top: 20px;" class="col-xs-9"><span class="backToButton" ng-click="goBackToBandPage()">{{ band.name }}</span> - <span style="margin-left:5px;">{{ folder.name }}</span></h4>
      <div id="uploadFiles" style="float: right; padding: 10px; max-width: 50px; margin-top: 10px;" class="btn btn-success btn-xs col-xs-3" data-toggle="modal" data-target="#uploadFileModal"><i class="fas fa-upload"></i><div id="uploadPercentageButton"></div></div>
    </div>
    <!-- End of File Filter -->
    <div id="files" class="containers col-xs-12" style="padding: 0;">
      <div id="fileHeader">
        <div class="col-xs-6 col-sm-8">
          <input ng-model="search" class="searchBar" placeholder="Search Ideas">
        </div>

        <div class="col-xs-3 col-sm-2" style="padding-right: 0;">
          <select ng-model="sortBy" id="fileOrder" class="form-control">
            <option value="name">Name</option>
            <option value="bytes">Size</option>
            <option value="-likes">Favorites</option>
            <option value="-views">Views</option>
          </select>
        </div>

        <div class="col-xs-3 col-sm-2" style="padding-right: 0;">
          <select ng-model="pageSize" id="pageSize" class="form-control">
            <option value="4">4</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </div>
      </div>

      <div id="playListFileDetails-{{ song.id }}" class="playListFileDetails"></div>
      <!-- Container that holds all files playlist -->
      <div id="fileList" class="col-xs-12" style="padding: 0">
        <div class="col-xs-12 scroller" >
          <div ng-animate="'animate'" class="song" style="padding: 5px" ng-repeat="song in files |
          filter:{name: search }
          | orderBy:sortBy" >
            <!-- This is a Single File -->

            <div id="file-{{ song.id }}" class="playListFile col-xs-12" data-index="{{ song.fileIndex }}" ng-click="stopFile(song); openMiniAudioPlayer(song); ">
              <div class="playListFileInfo col-xs-12" style="display: none">

                <!-- <p class="deleteButton" ng-click="deleteFile($index)"> x </p>-->
                <p class="col-xs-12 fileName" ng-click="openFile(song, $event)">{{ song.name }}</p>

                <!--<p id="ideaDuration-{{ song.id }}" class="col-xs-12"></p>-->
                <p class="col-xs-6" style="">{{ song.views }} Views</p>
                <p class="col-xs-6" style="border-left: 1px solid #CCC">{{ song.likes }} <img src="../img/black-metal.png"/> {{ song.highlights.length }} <img src="../img/commentButton.png"/> {{ song.highlights.length }}</p>
              </div>

              <div class="playListFileInfo col-xs-12">
                <!-- <p class="deleteButton" ng-click="deleteFile($index)"> x </p>-->
                <p class="col-xs-1">{{ $index + 1 }}</p>
                <p class="col-xs-4 fileName" ng-click="openFile(song, $event)">{{ song.name }}</p>
                <div class="col-xs-6" style="text-align: right; padding-left: 0; padding-right: 0;">
                  <p style="min-width: 40px; display: inline-block">{{ song.likes }} <img src="../img/black-metal.png"/></p>
                  <p style="min-width: 40px; display: inline-block">{{ song.views }} <img src="../img/music.png"/></p>
                  <p style="min-width: 40px; display: inline-block">{{ song.highlights.length }} <img src="../img/commentButton.png"/></p>
                </div>
              </div>
            </div>
            <!-- End of Single File -->
          </div>
        </div>
    </div>
    <!-- End of Files -->

  </div>

</div>
</div>
<!-- User Likes Modal -->
<div id="userLikesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Favorites</h4>
      </div>
      <div class="modal-body">
        <div id="userLikesDiv" ng-repeat="username in userLikes">
          {{ username }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End of User Likes Modal -->
<upload-file-modal></upload-file-modal>
<script src="js/managers/uploader.js" type="text/javascript"></script>

