<div id="foldersView" ng-controller="folderController">
  <!-- Folders View -->
  <div id="folderSection">

    <!-- Band Name -->
    <div class="col-xs-12">
      <h3 id="bandName" class="titles" data-toggle="modal" data-target="#bandDetails">{{ band.name }}</h3>
    </div>
    <!-- Band Buttons -->
    <div class="containers  col-xs-12 col-sm-2">
      <!--<h5 class="col-xs-12 text-center">The Band</h5>-->
      <div class="buttonPadding col-xs-4 col-sm-12">
        <div id="setListButton" class="mainButton" data-toggle="modal" data-target="#setListModal" ng-click=""><i style="font-size: 18px" class="far fa-list-alt"></i><br>Set Lists</div>
      </div>
      <div class="buttonPadding col-xs-4 col-sm-12">
        <div id="highlightButton" class="mainButton" ng-click="openHighlightsFolder()"><img style="width: 20px; height: 20px; padding: 2px" src="../img/timeButton.png"/><br>Highlights</div>
      </div>
      <div class="buttonPadding col-xs-4 col-sm-12">
        <div id="favoritesButton" class="mainButton" ng-click="openFavoritesFolder()"><img style="width: 20px; height: 20px;" src="../img/black-metal.png"/><br>Favorites</div>
      </div>
      <div class="buttonPadding col-xs-4 col-sm-12">
        <div id="membersButton" class="mainButton" data-toggle="modal" data-target="#memberModal"><i style="font-size: 18px" class="fas fa-users"></i></br>Members</div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-10">
      <!-- File Filter: Sorted By, Number of Files on Page -->
      <div class="containers col-xs-12">
        <i class="glyphicon glyphicon-search" style="position: absolute; top: 22px; left: 3%; font-size: 18px; cursor: pointer" ng-click="showFilters()"></i>

        <div id="addFolder" class="button homeButton" style="margin: -5px auto; width: 80%" data-toggle="modal" data-target="#addFolderModal">Add Folder</div>
        <div id="folderFilters" style="display:none; margin-top: 15px">
          <div class="col-xs-12 filters">
            <input ng-model="search" class="form-control" placeholder="Search Folders">
          </div>

        </div>
      </div>
      <!-- Container that holds all folders -->
      <div class="containers folders col-xs-12">
        <!--<h4 style="text-align: center; margin-left: 30px;">Folders  <button class="button homeButton" style="height: 30px; line-height: 10px; margin-left: 5px;" data-toggle="modal" data-target="#addFolderModal">+</button></h4>-->
        <div id="foldersContainer" class="col-xs-12">
          <!-- Single Folder -->
          <div id="{{ 'folder-' + $index }}" ng-animate="'animate'" ng-repeat="folder in folders |
          filter:{name: search } " class=" col-xs-12 col-sm-4 col-md-3" style="padding-left: 2px; padding-right: 2px;" ng-click="openFolder(folder)">
            <!-- <p class="deleteFolderButton" ng-click="archiveFolder(folder)"> x </p> -->
            <div class="folder">
              <p class="folderTitle">{{ folder.name }}</p>

              <div class="text-center">
                <span class="" style="font-size:10px">{{ folder.numFiles }} <i class="far fa-file-audio" style="font-size: 12px; top: 2px; position: relative;"></i></span>
                <span class="" style="font-size:10px;">{{ folder.numFavorites }}<img style="width: 15px; height: 15px;" src="../img/black-metal.png"/></span>
                <span class="" style="font-size:10px">{{ folder.numHighlights }} <img style="width: 12px; height: 12px;" src="../img/timeButton.png"/></span>
              </div>
            </div>

          </div>
          <!-- End of Single Folder -->
        </div>
        <!--
        <div id="pagination" class="col-xs-12" data-pagination="" data-num-pages="numberOfPages()"
             data-current-page="currentPage" data-max-size="maxSize"
             data-boundary-links="true"></div> -->
      </div>

      <!-- End of folder container -->
    </div>
  </div>

  <!-- Member Modal -->
  <div id="memberModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Band Members</h4>
        </div>
        <div class="modal-body">
          <div id="{{ 'member-' + $index }}" ng-animate="'animate'" ng-repeat="member in members" class="col-xs-12 memberButton">

            <div class="col-xs-12">
              <p class="folderTitle">{{ member.name }}</p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Member Modal -->
  <!-- Set List Modal -->
  <div id="setListModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Set Lists</h4>
        </div>
        <div class="modal-body">
          <div style="padding: 20px">
            <input type="text" class="form-control" ng-model="setListName" placeholder="Name"/>
            <div id="addSetList" class="button homeButton" ng-click="addSetList()">Add Set List</div>
          </div>
          <div style="padding: 15px">
            <div id="{{ 'setList-' + $index }}" ng-animate="'animate'" ng-repeat="set in setlists" class="setListButton">

              <div class="setListDetails">
                <div>{{ set.name }}</div>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Set List Modal -->
  <band-details-modal></band-details-modal>
  <add-folder-modal></add-folder-modal>
</div>
