<div id="foldersView" ng-controller="folderController">
  <!-- Folders View -->
  <div id="folderSection">

    <!-- Band Buttons -->
    <div class="containers  col-xs-12 col-sm-2">
      <!--<h5 class="col-xs-12 text-center">The Band</h5>-->
      <div class="buttonPadding col-xs-3 col-sm-12">
        <div id="playlistButton" class="mainButton" data-toggle="modal" data-target="#playlistsModal" ng-click="getPlaylists()">
          <i style="font-size: 16px" class="far fa-list-alt"></i><br>
          <span style="font-size: 0.9em">Playlists</span></div>
      </div>
      <div class="buttonPadding col-xs-3 col-sm-12">
        <div id="highlightButton" class="mainButton" ng-click="openHighlightsFolder()">
          <img style="width: 15px; height: 15px; padding: 2px" src="../img/timeButton.png"/><br>
          <span style="font-size: 0.9em">Highlights</span></div>
      </div>
      <div class="buttonPadding col-xs-3 col-sm-12">
        <div id="favoritesButton" class="mainButton" ng-click="openFavoritesFolder()">
          <img style="width: 18px; height: 18px;" src="../img/black-metal.png"/><br>
          <span style="font-size: 0.9em">Favorites</span></div>
      </div>
      <div class="buttonPadding col-xs-3 col-sm-12">
        <div id="bandDetailsButton" class="mainButton" data-toggle="modal" data-target="#bandDetails">
          <i style="font-size: 16px" class="fas fa-info-circle"></i></br>
          <span style="font-size: 0.9em">Details</span></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10">
      <!-- File Filter: Sorted By, Number of Files on Page -->
      <div class="containers col-xs-12">
        <!--<i class="glyphicon glyphicon-search" style="position: absolute; top: 22px; left: 3%; font-size: 18px; cursor: pointer" ng-click="showFilters()"></i> -->

        <div id="folderFilters">
          <div class="col-xs-12 filters">
            <input ng-model="search" class="form-control" placeholder="Search Folders">
          </div>

        </div>

      </div>
      <!-- Container that holds all folders -->
      <div class="containers folders col-xs-12">
        <div id="folderHeader">
          <span>{{ band.name }}</span>
          <div id="addFolder" class="btn btn-success btn-xs addButton" data-toggle="modal" data-target="#addFolderModal">+</div>

        </div>
        <!--<h4 style="text-align: center; margin-left: 30px;">Folders  <button class="button homeButton" style="height: 30px; line-height: 10px; margin-left: 5px;" data-toggle="modal" data-target="#addFolderModal">+</button></h4>-->
        <div id="foldersContainer" class="col-xs-12">

          <!-- Single Folder -->
          <div id="{{ 'folder-' + $index }}" ng-animate="'animate'" ng-repeat="folder in folders |
          filter:{name: search } " class=" col-xs-12 col-sm-4 col-md-3" style="padding-left: 2px; padding-right: 2px;" ng-click="openFolder(folder)">
            <!-- <p class="deleteFolderButton" ng-click="archiveFolder(folder)"> x </p> -->
            <div class="folder col-xs-12">
              <div class="col-xs-12" style="padding-bottom: 4px; padding-left: 0; padding-right: 0; border-bottom: 1px solid #CCC;">
                <p class="folderTitle col-xs-12">{{ folder.name }}</p>
                </div>
              <div class="col-xs-12 text-center" style="padding: 0">
                <span class="col-xs-6" style="font-size:10px; padding: 0; margin-top: 5px; border-right: 1px solid #CCC;">{{ folder.numFiles }} Ideas<!--<i class="far fa-file-audio" style="font-size: 12px; top: 2px; position: relative;"></i> --></span>
                <span class="col-xs-3" style="font-size:10px; padding: 0; margin-top: 5px; text-align: right">{{ folder.numFavorites }}<img style="width: 13px; height: 13px;" src="../img/black-metal.png"/></span>
                <span class="col-xs-3" style="font-size:10px; padding: 0; margin-top: 5px;">{{ folder.numHighlights }} <img style="width: 10px; height: 10px;" src="../img/timeButton.png"/></span>
              </div>
            </div>

          </div>
          <!-- End of Single Folder -->
        </div>
        <!--
        <div id="pagination" class="col-xs-12" data-pagination="" data-num-pages="numberOfPages()"
             data-current-page="currentPage" data-max-size="maxSize"
             data-boundary-links="true"></div> -->
      </div>

      <!-- End of folder container -->
    </div>
  </div>

  <member-modal></member-modal>
  <playlists-modal></playlists-modal>
  <band-details-modal></band-details-modal>
  <add-folder-modal></add-folder-modal>
</div>
