<!-- Forgot Password Form -->
<div id="authentication">
  <div id="usernameForm" class="loginForm form col-xs-12">
    <form name="forgotPassword">
      <h3 ng-click="testLogin()">Enter your Username</h3>
      <input id="signInUsername" type="text" name="username" placeholder="Username"  ng-model="user.username" required/>
      <input id="signInSubmitButton" type="submit" ng-click="findPassword()" value="Find Password"/>
    </form>

    <br>
  </div>
  <div id="passwordContainer" class="loginForm form col-xs-12" style="display: none">
    <h4 id="password"></h4>
  </div>
</div>
<!-- End of Forgot Password Form -->
