<!-- Authentication Form -->
<div id="authentication">
  <!-- Sign In Form -->
  <div id="signInForm" class="mainForm form col-xs-12">
    <form name="signIn">
      <h3>Log In</h3>
      <input id="signInUsername" type="text" name="username" placeholder="Username" onfocus="closeUserMessage()" ng-model="user.username" required/>
      <input id="signInPassword" type="password" name="password" placeholder="Password" onfocus="closeUserMessage()" ng-model="user.password" required/>
      <input id="signInSubmitButton" type="submit" ng-click="login()" value="{{ loginMessage }}"/>
    </form>
    <!-- Test Login Button and Start Band Button -->
    <a ng-click="testLogin()">Test</a>
    <br>
  </div>
  <!-- End of Sign In Form -->
  <div id="userMessage" class="col-xs-12">
    <i id="closeUserMessage" class="far fa-times-circle" onclick="closeUserMessage()"></i>
    <p id="userMessageText" class="col-xs-12"></p>
  </div>
  <!-- Sign Up Button -->
  <div id="startBand" class="mainForm form col-xs-12" ng-click="openBandForm()">
    <h3>Start a<br>
      Band of Ideas
    </h3>
  </div>
  <!-- End of Sign Up Button -->
  <!-- Sign Up Form -->
  <div id="signUpForm" class="mainForm form col-sm-12">
    <h3>Start a<br>Band of Ideas</h3>
    <div id="startBandForm">
        <!-- Choose Band Name Form -->
        <div id="chooseBand">
          <form>
            <input id="bandNameInput" type="text" name="bandName" placeholder="Band Name" ng-model="user.bands[0].name" autocomplete="off" required/>
            <input type="submit" ng-click="checkBandAvailability()" value="Check Band"/>
          </form>
          <br>
        </div>
        <!-- End of Band Name Form -->

        <!-- Join Existing Band Form -->
        <div id="joinBand">
          <hr>
          <h3><strong>{{ user.bands[0].name }}</strong><br><br>
            This band already exists.<br>
            If you want to join, enter the band code
          </h3>
          <form>
            <input id="bandCodeInput" type="text" name="bandCode" placeholder="Band Code" ng-model="bandCode" autocomplete="off" required/>
            <input type="submit" ng-click="checkBandCode()" value="Check Code"/>
            <input type="reset" value="Cancel"/>
            <br>
            <input type="button" ng-click="backToChooseBand()" value="Go Back"/>
          </form>
        </div>
        <!-- End of Existing Band Form -->

        <!-- Create Account Form -->
        <div id="chooseUser">
          <hr>
          <h3><strong>{{ user.bands[0].name }}</strong><br><br>
            Now time to create your account!
          </h3>
          <form>
            <input id="name" type="text" name="name" placeholder="Name" class="col-md-6" ng-model="user.name"/>
            <input id="signUpEmail" type="text" name="email" placeholder="Email Address" ng-model="user.email" required/>
            <input id="signUpUsername" type="text" name="username" placeholder="Username" ng-model="user.username" required/>
            <input id="signUpPassword" type="password" name="password" placeholder="Password" ng-model="user.password" required/>
            <input id="passwordAgain" type="password" name="passwordAgain" placeholder="Password Again" ng-model="user.passwordAgain" required/>
            <input type="submit" ng-click="joinTheBand()" value="Join The Band"/>
            <input type="reset" value="Cancel"/>
          </form>
        </div>
        <!-- End of Create Account Form -->
    </div>
  </div>
  <!-- End of Sign Up Form -->
  <!-- Log In Button -->
  <div id="startSignIn" class="mainForm form col-xs-12" ng-click="openSignInForm()">
      <h3>Log In</h3>
  </div>
  <!-- End of Log In Button -->


</div>
<!-- End of Authentication Form -->
