<!-- Main View -->
<div id="mainView" style="display: none">

  <!-- Buttons -->
  <div class="col-xs-12">
      <div class="col-xs-12 col-sm-5" style="padding: 20px">
          <!--<i class="far fa-user" style="position: absolute;top: 13px;left: 20px;font-size: 15px;"></i>-->
          <a href="/#/user" class="profileImage col-xs-2" style="width: 70px; height: 70px; background-image: url('{{user.userIcon}}')"></a>
          <h3 class="col-xs-8" style="margin-top: 20px; color: white"><a href="/#/user" style="color: white">{{ user.name }}</a></h3>
      </div>
    <div class="containers col-xs-12 col-sm-7" style="padding-top: 20px">
        <div class="buttonPadding col-xs-4">
            <div class="mainButton" ng-click="openHighlightsFolder()">
                <img style="width: 15px; height: 15px;" src="../img/timeButton.png"/>
                <br><span style="font-size: 0.9em">Highlights</span>
            </div>
        </div>
        <div class="buttonPadding col-xs-4">
            <div class="mainButton" ng-click="openFavoritesFolder()">
                <img style="width: 18px; height: 18px;" src="../img/black-metal.png"/>
                <br><span style="font-size: 0.9em">Favorites</span>
            </div>
        </div>
        <div class="buttonPadding col-xs-4">
            <div class="mainButton" data-toggle="modal" data-target="#playlistsModal" ng-click="getPlaylists()">
                <i style="font-size: 16px" class="far fa-list-alt"></i>
                <br><span style="font-size: 0.9em">Playlists</span>
            </div>
        </div>
    </div>


  </div>
  <!-- Band Section -->
  <div class="col-xs-12" style="padding: 5px">
    
    <!-- Bands -->
    <div class="containers col-xs-12" style="padding: 0;">
      <div id="bandHeader">
        <span>Bands</span>
        <div class="btn btn-success btn-xs addButton" data-toggle="modal" data-target="#addBandModal">+</div>
      </div>
        <div class="col-xs-12 scroller">
            <!--<h2 id="bandName" class="userInfoTitles">Bands</h2>-->
          <div class="bands col-xs-12 col-sm-6" ng-repeat="band in user.bands">
            <div class="col-xs-12 bandButton">
              <div id="bandLoader-{{ band.id }}" class="bandLoader" style="display: none"><i class="fa fa-spinner fa-spin"></i></div>
              <div id="{{ 'band-' + band.id }}" class="col-xs-12" style="padding: 0" ng-click="enterBand(band)">


                <div class="col-xs-11" style="border-right: 1px solid #CCC">
                  <h4 id="bandTitle" class="bandTitle col-xs-12">{{ band.name }}</h4>
                  <div class="col-xs-12 bandDetails">{{ band.numFiles }} Ideas</div>
                </div>

                <div class="bandDetailsButton" ng-click="showBandDetails($event, band)"   >
                  <i class="fas fa-ellipsis-v"></i>
                </div>

              </div>
            </div>
            <!-- Band Details Modal -->
            <div id="bandDetails-{{ band.id }}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Band Details</h4>
                  </div>
                  <div class="modal-body col-xs-12">
                    <div class="col-xs-12">
                      <h4>Name: </h4><p>{{ band.name }}</p>
                      <h4>Code: </h4><p>{{ band.code}}</p>
                    </div>
                    <div class="col-xs-12">
                      <h4>Band Members</h4>
                      <div id="{{ 'member-' + $index }}" ng-animate="'animate'" ng-repeat="member in band.members" class="memberButton">
                        <div>
                          <p class="folderTitle">{{ member.name }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of Band Details Modal -->
          </div>
        </div>
    </div>
    <!-- End of Bands -->

  </div>

  <!-- End of band Section -->
  <div class="col-xs-12" style="padding: 5px">
    <div class="containers col-xs-12" style="padding: 0;">
      <div id="activityHeader">
        <span id="activityTitle">Recent Comments</span>

        <select ng-model="bandFilter" id="bandFilter" style="float: right; width: 30%;">
          <option ng-selected="true" value="">All</option>
          <option ng-selected="{{band.name == bandFilter}}"
                  ng-repeat="band in user.bands"
                  value="{{ band.name }}">
            {{band.name}}
          </option>
        </select>
      </div>
      <div id="recentActivity">
      <div id="loadCommentsContainer" style="padding: 20px; text-align: center">
        <i class="fa fa-spinner fa-spin" style="font-size: 20px"></i>
      </div>
      <div id="commentContainer" class="col-xs-12 scroller" style="display:none">
        <div class="recentComments fileComments col-xs-12" ng-repeat="comment in recentHighlights.slice().reverse() | filter:(!!bandFilter || undefined) && {bandName: bandFilter}" ng-click="openFile(comment.file.id, comment.highlightTime)" style="cursor: pointer">
          <div class="col-xs-12" style="padding: 5px" >
            <div class="col-xs-5 commentUserName"><strong>{{ comment.userName }}</strong></div>
            <div class="col-xs-7" style="font-size: 9px; text-align: right; padding: 0">{{ comment.commentTime }}</div>
          </div>
          <div class="col-xs-12" style="padding: 10px; background: white; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC;">
            <div class="col-xs-10">{{ comment.comment }}</div>
            <div ng-if="comment.highlightTime !== '0'" > <img src="../img/timeButton.png" style="width: 10px; height: 10px; margin-bottom: 1px;"/> {{ currentTimeToString(comment.highlightTime) }}</div>
          </div>
          <div class="col-xs-12" style="padding: 5px;">
            <div class="col-xs-12" style="padding: 0px; padding-right: 5px; text-align: right; font-size: 9px">{{ comment.band.name }} - {{ comment.file.folder.name }} - <strong>{{ comment.file.name }}</strong></div>
          </div>
        </div>
        <div class="col-xs-12 text-center" style="cursor: pointer; font-size: 12px" ng-click="showAllRecentActivity(recentComments.length)">{{ (recentComments | filter: {bandName: bandFilter}).length }} Comments</div>
      </div>

    </div>
    </div>
  </div>
  <!-- Modals -->
  <playlists-modal></playlists-modal>

  <add-band-modal></add-band-modal>
  <user-details-modal></user-details-modal>
</div>

