<!-- Main View (Dashboard) -->
<div id="mainView" style="display: none">
  <!-- Buttons -->
  <div class="col-xs-12" style="text-align: center">
    <!--<div class="col-xs-12 col-sm-6" style="padding: 20px">
        <i class="far fa-user" style="position: absolute;top: 13px;left: 20px;font-size: 15px;"></i>
        <a href="/#/user" class="profileImage col-xs-2" style="width: 70px; height: 70px; background-image: url('{{user.userIcon}}')"></a>

      </div>-->
      <h3 class="col-xs-12" style="border: 1px solid white; border-radius: 8px; padding: 25px; box-shadow: 0 5px 15px rgba(0,0,0,0.5); margin-top: 20px; color: white"><a href="/#/user" style="color: white">Hello {{ user.name }}</a></h3>
  </div>
  <!-- Dashboard buttons -->
  <div id="dashboardButtons" class="col-xs-12" style="padding: 0;">
    <div class="col-xs-12">
      <div class="col-xs-3 col-sm-3" style="padding: 5px">
        <div class="dashboardButton" ng-click="showIdeaGraph()">
          <strong style="font-size: 18px">{{ numberOfIdeas }}</strong><br>
          <span style="font-size: 0.8em">Ideas</span>
          <div style="font-size: 8px">
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3" style="padding: 5px">
        <div class="dashboardButton" onclick="scrollToElementById('bands')">
          <strong style="font-size: 18px">{{ user.bands.length }}</strong><br>
          <span style="font-size: 0.8em">Bands</span>
          <div style="font-size: 8px">
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3" style="padding: 5px">
        <div class="dashboardButton" onclick="scrollToElementById('playlistsDiv')">
          <strong style="font-size: 18px">{{ playlists.length }}</strong><br>
          <span style="font-size: 0.8em">Playlists</span>
          <div style="font-size: 8px">
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3" style="padding: 5px">
        <div class="dashboardButton" onclick="navigateToURL('/#/activity')">
          <strong style="font-size: 18px">{{ numberOfNotifications }}</strong><br>
          <span style="font-size: 0.8em">Notifications</span>
          <div style="font-size: 8px">
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Buttons -->
  <!-- Search -->
  <div class="dashboard-search col-xs-12" style="margin-top: -10px;">
    <form class="">
      <div class="form-group">
        <input id="large-search-input" type="search" class="col-xs-12" placeholder="Search Ideas" onkeyup="showResult(this.value, 'large-live-search')" autocomplete="off">
      </div>
      <!-- Search Results -->
      <div id="large-live-search" class="col-xs-12"></div>
    </form>
  </div>

  <div id="recentViews" class="col-xs-12 sideScroller">
    <div style="padding: 20px; color: white"><i class="fas fa-history"></i></div>
    <div ng-show="!recentViews.length" style="padding: 20px; color: white"><p>No recent views</p></div>
    <div ng-repeat="view in recentViews">
      <div class="folder viewFile" ng-click="openView(view)">
        <p style="margin-top: 10px">{{ view.name }}</p>
        <p style="color: #909090; font-size: 11px">{{ view.band.name }} / {{ view.folder.name }}</p>
      </div>
    </div>
  </div>

  <div id="ideaGraph" class="col-xs-12" style="padding: 15px; display: none">
    <div class="containers" style="padding: 0;">
      <div style="float: right; margin-right: 20px; margin-top: 5px; cursor: pointer; cursor: hand" ng-click="hideIdeaGraph()"><i class="fas fa-times"></i></div>
      <canvas id="ideaGraphContainer" ></canvas>
    </div>
  </div>
  <!-- Band Section -->
  <div id="bands" class="col-xs-12" >
    <!-- Bands -->
    <div class="containers col-xs-12" style="padding: 5px;">
      <div id="bandHeader" style="height: 40px;">
        <span class="col-xs-6">Bands</span>
        <div class="addToListButton col-xs-6"  data-toggle="modal" data-target="#addBandModal">
          <a href="javascript:void(0)"><i class="fas fa-plus"></i></a>
        </div>
      </div>
        <div class="col-xs-12 scroller" style="max-height: fit-content; overflow-y: unset;">
          <div class="bands col-xs-12 col-sm-6 col-md-4" ng-repeat="band in user.bands">
            <div class="col-xs-12 bandButton">
              <div id="bandLoader-{{ band.id }}" class="bandLoader" style="display: none"><i class="fa fa-spinner fa-spin"></i></div>
              <div id="{{ 'band-' + band.id }}" class="col-xs-12" style="padding: 0" ng-click="enterBand(band)">
                <div class="col-xs-12" style="">
                  <h4 id="bandTitle" class="bandTitle col-xs-12">{{ band.name }}</h4>
                  <div class="col-xs-12 bandDetails">{{ band.numFiles }} Ideas</div>
                </div>
              </div>
            </div>
            <!-- Band Details Modal -->
            <div id="bandDetails-{{ band.id }}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Band Details</h4>
                  </div>
                  <div class="modal-body col-xs-12">
                    <div class="col-xs-12">
                      <h4>Name: </h4><p>{{ band.name }}</p>
                      <h4>Code: </h4><p>{{ band.code}}</p>
                    </div>
                    <div class="col-xs-12">
                      <h4>Band Members</h4>
                      <div id="{{ 'member-' + $index }}" ng-animate="'animate'" ng-repeat="member in band.members" class="memberButton">
                        <div>
                          <p class="folderTitle">{{ member.name }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of Band Details Modal -->
          </div>
        </div>
    </div>
    <!-- End of Bands -->
  </div>
  <!-- End of band Section -->
  <!-- Playlists Section -->
  <div id="playlistsDiv" class="col-xs-12">
    <div class="containers col-xs-12" style="padding: 5px;">
      <div id="playlistHeader">
        <span id="playlistsTitle" class="col-xs-6">Playlists</span>
      </div>
      <div id="playlistsContainer" class="col-xs-12 scroller">
        <div id="playlistLoader" style="padding: 20px; text-align: center">
          <i class="fa fa-spinner fa-spin" style="font-size: 20px"></i>
        </div>
        <div id="playlists" class="col-xs-12">
          <!-- Single Playlist -->
          <div id="{{ 'playlist-' + $index }}" ng-animate="'animate'" ng-repeat="playlist in playlists | reverse |
          filter:{name: search } " class="col-xs-12 col-sm-4" style="padding-left: 10px; padding-right: 10px;" ng-click="openPlaylist(playlist)">
            <!-- <p class="deleteFolderButton" ng-click="archiveFolder(folder)"> x </p> -->
            <div class="folder col-xs-12">
              <div class="col-xs-12" style="padding-bottom: 4px; padding-left: 0; padding-right: 0; border-bottom: 1px solid #ffffff59;">
                <p class="folderTitle col-xs-12">{{ playlist.name }}</p>
              </div>
              <div class="col-xs-12 text-center" style="padding: 0">
                <span class="col-xs-12" style="font-size:10px; padding: 0; margin-top: 5px;">{{ playlist.numFiles }} Ideas</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Recent Comment Section
  <div id="recentComments" class="col-xs-12">
    <div class="containers col-xs-12" style="padding: 5px;">
      <div id="activityHeader" style="height: 40px;">
        <span id="activityTitle" class="col-xs-6">Recent Comments</span>
        <select ng-model="bandFilter" id="bandFilter" style="float: right; width: 30%; color: black">
          <option ng-selected="true" value="">All</option>
          <option ng-selected="{{band.name == bandFilter}}"
                  ng-repeat="band in user.bands"
                  value="{{ band.name }}">
            {{band.name}}
          </option>
        </select>
      </div>
        <div id="recentActivity">
          <div id="loadCommentsContainer" class="col-xs-12 scroller" style="padding: 20px; text-align: center">
            <i class="fa fa-spinner fa-spin" style="font-size: 20px"></i>
          </div>
          <div id="commentContainer" class="col-xs-12 scroller" style="display:none">
            <div class="recentComments fileComments col-xs-12" ng-repeat="comment in recentHighlights.slice().reverse() | filter:(!!bandFilter || undefined) && {bandName: bandFilter}" ng-click="openFile(comment.file.id, comment.highlightTime)" style="cursor: pointer">
              <div class="col-xs-12" style="padding: 5px" >
                <div class="col-xs-5 commentUserName"><strong>{{ comment.userName }}</strong></div>
                <div class="col-xs-7" style="font-size: 9px; text-align: right; padding: 0">{{ comment.commentTime }}</div>
              </div>
              <div class="col-xs-12" style="padding: 10px; border-bottom: 1px solid #ffffff59; border-top: 1px solid #ffffff59;">
                <div class="col-xs-10">{{ comment.comment }}</div>
                <div ng-if="comment.highlightTime !== 0 && comment.highlightTime !== -1" >{{ currentTimeToString(comment.highlightTime) }}</div>
              </div>
              <div class="col-xs-12" style="padding: 5px;">
                <div class="col-xs-12" style="padding: 0px; padding-right: 5px; text-align: right; font-size: 9px">{{ comment.band.name }} - {{ comment.file.folder.name }} - <strong>{{ comment.file.name }}</strong></div>
              </div>
            </div>
            <div class="col-xs-12 text-center" style="cursor: pointer; font-size: 12px" ng-click="showAllRecentActivity(recentComments.length)">{{ (recentComments | filter: {bandName: bandFilter}).length }} Comments</div>
          </div>
        </div>
    </div>
  </div>-->
  <!-- Modals -->
  <playlists-modal></playlists-modal>
  <add-band-modal></add-band-modal>
  <user-details-modal></user-details-modal>
</div>

<script src="js/managers/graphs.js" type="text/javascript"></script>
