<div>
  <!-- Folders View -->
  <div id="folderSection">
    <!-- Folder Buttons -->
    <div class="folderButtons col-md-12">
      <!-- Add Folder Button -->
      <div class="addFolderButtons col-md-2">
        <p id="addFolder" class="folderButton1 folderButton" ng-click="showAddFolderInput()">+</p>
        <p id="cancelNewFolder" class="folderButton2 folderButton" ng-click="hideAddFolderInput()">-</p>
      </div>
      <!-- Add Folder Modal -->
      <div id="addFolderInput" class="col-md-10">
        <div id="addFolderModal" class="thumbnail buttons col-md-12">
          <p class="col-md-4">{{ addFolderMessage }}</p>
          <div class="col-md-8">
            <input type="text" name="folderName" placeholder="Folder Name" ng-model="newFolder" required/>
            <input type="button" value="Add Folder" ng-click="addFolder()">
          </div>
        </div>
      </div>
      <!-- Optional Folder Buttons -->
      <div class="addFolderButtons col-md-2">
        <p id="showButtonsButton" class="folderButton1 folderButton" ng-click="showFolderButtons()">More</p>
        <p id="hideButtonsButton" class="folderButton2 folderButton" ng-click="hideFolderButtons()">Less</p>
      </div>
      <div id="hiddenFolderButtons">
        <div class="addFolderButtons col-md-2">
          <p class="folderButton" ng-click="goToUserInfo()">Go Back</p>
        </div>
        <div class="addFolderButtons col-md-2">
          <p class="folderButton" ng-click="">All Files</p>
        </div>
        <div class="addFolderButtons col-md-2">
          <p class="folderButton" ng-click="">Playlists</p>
        </div>
        <div class="addFolderButtons col-md-2">
          <p class="folderButton" ng-click="showBandDetails()">Band Info</p>
        </div>
      </div>
      <!-- End of Optional Folder Buttons -->
      <h3 id="bandName" class="col-md-8 userInfoTitles">{{ band.name }}</h3>
      <div id="bandDetails">
        <div class="col-md-12 userInfo">
          <div class="col-md-6">
            <h3>Name: </h3><p>{{ band.name }}</p>
          </div>
          <div class="col-md-6">
            <h3>Code: </h3><p>{{ band.code}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Container that holds all folders -->
    <div class="col-md-12">
      <h3 class="folderLoadingMessage">{{ folderMessage }}</h3>
      <div id="{{ 'folder-' + $index }}" ng-repeat="folder in folders" class="col-md-6 folders">
        <p class="deleteButton" ng-click="archiveFolder($index)"> x </p>
        <div class="thumbnail folder" ng-click="openFolder($index)">
          <p class="folderTitle">{{ folder.name }}</p>

        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
