
<div id="filesView" ng-controller="playlistController">
  <!-- Files Section - Displayed when a folder is opened -->
  <div id="fileSection">
    <!-- Start of File buttons and Details -->
    <!-- End of Buttons and Details -->
    <!-- Band Name | Folder Name -->
    <div class="titles">

      <span class="backToButton" ng-click="goBackToBandPage()">{{ band.name }}</span> | <span class="backToButton" ng-click="goBackToFolderPage()">{{ folder.name }}</span></div>
    <!-- File Filter: Sorted By, Number of Files on Page -->
    <div class="containers col-xs-12">
      <i class="glyphicon glyphicon-search" style="position: absolute; top: 22px; left: 3%; font-size: 18px; cursor: pointer" ng-click="showFilters()"></i>

      <div id="filesButton" class="button homeButton" style="margin: -5px auto; width: 85%" data-toggle="modal" data-target="#filesModal">Details</div>
      <div id="fileFilters" style="display:none; margin-top: 15px">
        <div class="col-xs-6 filters">
          <input ng-model="search" class="form-control" placeholder="Search Files">
        </div>
        <div class="col-xs-3 filters">
          <select ng-model="sortBy" id="fileOrder" class="form-control">
            <option value="name">Name</option>
            <option value="bytes">Size</option>
            <option value="-likes">Likes</option>
            <option value="-views">Views</option>
          </select>
        </div>

        <div class="col-xs-3 filters">
          <select ng-model="pageSize" id="pageSize" class="form-control">
            <option value="4">4</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </div>
      </div>
    </div>
    <!-- End of File Filter -->
    <div id="files" class="containers col-xs-12">
      <div class="text-center" style="font-size:12px">{{ files.length }} Ideas</div>
      <div id="filePlayerLoader" style="display: none;font-size: 20px;text-align: center;margin-top: 50px;margin-bottom: 30px"><i class="fa fa-spinner fa-spin"></i></div>
      <div id="filePlayer" style="display:none; height: 100px">
        <h4 class="col-xs-12" style="text-align: center">{{ wavesurferName }}</h4>
        <div id="waveform" class="col-xs-12"></div>
      </div>
      <div id="playListFileDetails-{{ song.id }}" class="playListFileDetails"></div>
      <!-- Container that holds all files playlist -->
      <div id="fileList" class="col-xs-12">
        <div class="col-xs-12">
          <div ng-animate="'animate'" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 song" style="padding: 5px" ng-repeat="song in visibleFiles |
          filter:{name: search }
          | limitTo:pageSize | orderBy:sortBy" >
            <!-- This is a Single File -->

            <div id="file-{{ song.id }}" class="playListFile col-xs-12" data-index="{{ song.fileIndex }}" ng-click="stopFile(song); openFile(song); ">

              <div class="playListFileInfo col-xs-12" >

                <!-- <p class="deleteButton" ng-click="deleteFile($index)"> x </p>-->
                <p class="col-xs-12" style="">{{ song.name }}</p>
                <!--<p id="ideaDuration-{{ song.id }}" class="col-xs-12"></p>-->
                <p class="col-xs-12" ng-click="openFolder(song, event)">{{ song.folder.name }}</p>
              </div>
              <div class="fileDetailsButton">
                <i class="fas fa-ellipsis-v"></i>
              </div>



            </div>


            <!-- End of Single File -->
          </div>
        </div>


      <!-- File Navigation -->
      <div id="pagination" class="col-xs-12" data-pagination="" data-num-pages="numberOfPages()"
        data-current-page="currentPage" data-max-size="maxSize"
        data-boundary-links="true"></div>
      <!-- End of File Navigation -->
    </div>
    <!-- End of Files -->

  </div>

</div>
</div>


<!-- Playlist Modal -->
<div id="filesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Playlist Details: {{ folder.name }}</h4>
      </div>
      <div class="modal-body col-xs-12">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Playlist modal -->
