<!-- Settings -->
<div id="settingsView" style="display: none">
  <h3 class="titles">Settings</h3>
  <div id="themeSettings" class="containers col-xs-12">
    <h4>Background Color</h4>
    <div class="col-xs-3" >
      <div class="mainButton" style="background-color: rgb(208, 213, 216);" onclick="changeBackgroundColor('rgb(208, 213, 216)')"></div>
    </div>
    <div class="col-xs-3">
      <div class="mainButton" style="background-color: rgb(117, 132, 142);" onclick="changeBackgroundColor('rgb(117, 132, 142)')"></div>
    </div>
    <div class="col-xs-3">
      <div class="mainButton" style="background-color: rgb(208, 208, 216);" onclick="changeBackgroundColor('rgb(208, 208, 216)')"></div>
    </div>
    <div class="col-xs-3">
      <div class="mainButton" style="background-color: rgb(40, 42, 43);" onclick="changeBackgroundColor('rgb(24, 27, 29)')"></div>
    </div>
    <hr>
  </div>

</div>
