<!-- Settings -->
<div id="settingsView" style="display: none">
  <div class="viewTitle">
    <h3 style="color: white; padding-bottom: 10px;">Settings</h3>
  </div>

  <div id="themeSettings" class="containers col-xs-12">
    <h4>Background Color</h4>
    <div class="col-xs-4 col-sm-2 settingsButtonContainer" >
      <div id="bgc-1" class="mainButton settingsButton" style="background-color: rgb(89, 106, 125);" onclick="changeBackgroundColor('bgc-1')"></div>
    </div>
    <div class="col-xs-4 col-sm-2 settingsButtonContainer">
      <div id="bgc-2" class="mainButton settingsButton" style="background-color: #265a88;" onclick="changeBackgroundColor('bgc-2')"></div>
    </div>
    <div class="col-xs-4 col-sm-2 settingsButtonContainer">
      <div id="bgc-3" class="mainButton settingsButton" style="background-color: rgb(34, 93, 71);" onclick="changeBackgroundColor('bgc-3')"></div>
    </div>
    <div class="col-xs-4 col-sm-2 settingsButtonContainer">
      <div id="bgc-4" class="mainButton settingsButton" style="background-color: rgb(24, 27, 29);" onclick="changeBackgroundColor('bgc-4')"></div>
    </div>
    <div class="col-xs-4 col-sm-2 settingsButtonContainer">
      <div id="bgc-5" class="mainButton settingsButton" style="background-color: rgb(40, 42, 43);" onclick="changeBackgroundColor('bgc-5')"></div>
    </div>
    <div class="col-xs-4 col-sm-2 settingsButtonContainer">
      <div id="bgc-6" class="mainButton settingsButton" style="background-color: rgb(100, 27, 29);" onclick="changeBackgroundColor('bgc-6')"></div>
    </div>
    <hr>
  </div>

</div>
