<!-- User Info -->
<div id="accountInformation">
  <div class="user col-md-12 col-xs-12">
    <h2 class="userInfoTitles">Hello {{ user.name }}</h2>
    <div class="addFolderButtons">
      <p id="userDetailsButton" class="bandButton col-md-6 col-xs-6" ng-click="showUserDetails()">Details</p>
      <p id="addBand" class="folderButton1 bandButton col-md-6 col-xs-6" ng-click="showAddBandInput()">Add Band</p>
      <p id="cancelNewBand" class="folderButton2 bandButton col-md-6 col-xs-6" ng-click="hideAddBandInput()">Close</p>
    </div>
    <div class="col-md-12 col-xs-12">
      <div id="userDetails">
        <div class="col-md-12 userInfo">
          <div class="col-md-6">
            <h3>Email: </h3><p>{{ user.email }}</p>
          </div>
          <div class="col-md-6">
            <h3>Password: </h3><p>{{ user.password}}</p>
          </div>
        </div>
      </div>
      <!-- Add Band Modal -->
      <div id="addBandInput" class="col-md-12">
        <div id="addBandModal" class="thumbnail buttons col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-6 col-xs-6"
            <p class="col-md-12 col-xs-12">{{ addBandMessage }}</p>
            <div class="col-md-12 col-xs-12">
              <input type="text" class="col-md-12 col-xs-12" name="bandName" placeholder="Band Name" ng-model="newBandName" required/>
              <input type="button" class="col-md-12 col-xs-12" value="Add Band" ng-click="addBand()">
            </div>
          </div>
          <div class="col-md-6 col-xs-6">
            <p class="col-md-12 col-xs-12">{{ joinBandMessage }}</p>
            <div class="col-md-12 col-xs-12">
              <input type="text" class="col-md-12 col-xs-12" name="bandName" placeholder="Band Name" ng-model="joinBandName" required/>
              <input type="text" class="col-md-12 col-xs-12" name="bandCode" placeholder="Band Code" ng-model="bandCode" required/>
              <input type="button" class="col-md-12 col-xs-12" value="Join Band" ng-click="joinBand()">
            </div>
          </div>
        </div>
      </div>
      <!-- End of Band Modal -->
    </div>
  </div>

  <div class="col-md-12 col-xs-12">
    <!--<h2 id="bandName" class="userInfoTitles">Bands</h2>-->
    <div id="bands" ng-repeat="band in user.bands" class="col-md-12">
      <div id="{{ 'band-' + $index }}" class="thumbnail folder buttons" ng-click="enterBand($index)">
        <h2 class="folderTitle">{{ band.name }}</h2>
      </div>
    </div>
  </div>
</div>
